<div class="wrapper fadeInDown">
    <div *ngIf="!logged" id="formContent">

        <!-- Cabecera -->
        <div class="fadeIn first">
            <p>Accede a tu cuenta</p>
        </div>

        <!-- Login Form -->
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="email" required #name="ngModel" [(ngModel)]="loginService.login_data.email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required #name="ngModel" [(ngModel)]="loginService.login_data.password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">¿Olvidaste la contraseña?</a>
        </div>

    </div>
    <div *ngIf="logged" id="formContent" style="padding:5%">
        ¡Ya estas logeado {{name}}!
    </div>
</div>