<div *ngFor="let product of productTypeService.products" class="col-md-3" style="margin-left: 2%;margin-bottom: 4%;display:inline-block;">
    <img class="card-img-top" src="{{ product.imgPath }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="display:inline-block">{{ product.price }} €</h6>
        <h6 *ngIf="product.discount > 0" class="card-subtitle mb-2 text-muted" style="margin-left:5%;display:inline-block;color:red"> -{{ product.discount }}%</h6>
        <p class="card-text" style="max-height: 400px;text-overflow: ellipsis !important;white-space: nowrap;overflow: hidden;">{{ product.description }}</p>
        <a href="products/{{ product.type }}/{{ product._id }}" class="card-link" style="font-size: 15px;">Ir al producto</a>
        <br><a *ngIf="isAdmin" href="modify/products/{{ product.type }}/{{ product._id }}" class="card-link" style="font-size: 15px;">Modificar producto</a>
    </div>
  </div>