<div class="container">  
    <form *ngIf="logged"  #create_productForm="ngForm" id="contact" style='margin-top:0%;'  (ngSubmit)="create_product(create_productForm)">
      <h3>Crea un nuevo producto</h3>
      <fieldset>
        <input placeholder="Nombre del producto" type="text" tabindex="1" required autofocus name="name" #name="ngModel" [(ngModel)]="createProductService.new_product.name">
      </fieldset>
      <fieldset>
        <textarea placeholder="Descripcion del producto" type="text" tabindex="2" required name="description" #name="ngModel" [(ngModel)]="createProductService.new_product.description"></textarea>
      </fieldset>
      <fieldset>
        <input placeholder="Precio del producto" type="number" tabindex="3" required style="width: 100%;" name="price" #name="ngModel" [(ngModel)]="createProductService.new_product.price">
      </fieldset>
      <fieldset>
        <input placeholder="Unidades del producto" type="number" tabindex="4" required style="width: 100%;" name="units" #name="ngModel" [(ngModel)]="createProductService.new_product.units">
      </fieldset>
      <fieldset>
        <select class="form-control" id="type" #name="ngModel" name="type" [(ngModel)]="createProductService.new_product.type">
            <option value="colchones">Colchón</option>
            <option value="somieres">Somier</option>
        </select>
    </fieldset>
    <fieldset>
        <div class="form-check" id="important">
            <input class="form-check-input" type="radio" name="exampleRadios" name="important" value="true" checked #name="ngModel" [(ngModel)]="createProductService.new_product.important">
            <label class="form-check-label" for="radio_destacado" style="margin-left: 5%;">Destacado</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" name="important" value="fale" #name="ngModel" [(ngModel)]="createProductService.new_product.important">
            <label class="form-check-label" for="radio_no_destacado" style="margin-left: 5%;">No destacado</label>
        </div>
    </fieldset>
      <fieldset>
        <input placeholder="¿Tiene algún descuento? (indica porcentaje)" type="number" tabindex="5" required style="width: 100%;" name="discount" #name="ngModel" [(ngModel)]="createProductService.new_product.discount">
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Crear</button>
        <!-- <input type="submit" id="contact-submit" class="fadeIn fourth" value="Crear" data-submit="...Sending"> -->
      </fieldset>
    </form>

    <div *ngIf="!logged" style="padding:5%">
        ¡Necesitas estar logueado!
    </div>
  </div>